# Ignore .git folder
.git

# Ignore .DS_Store files
.DS_Store

# Ignore node_modules folder
node_modules

# Ignore .env file
.env
.env.*

# Ignore local configuration files
.next
.vercel
.now

# Ignore logs
*.log

# Ignore build artifacts and cache
.cache
coverage
dist
out

# Ignore TypeScript build artifacts
*.tsbuildinfo