@import '@primer/css/utilities/index.scss';
@import '@primer/css/forms/form-control.scss';
@import '@primer/css/buttons/index.scss';

.App {
    padding-left: 25%;
    padding-right: 25%;
}

@media only screen and (max-width: 768px) {
    .App {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media only screen and (max-width: 425px) {
    .App {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 375px) {
    .App {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media only screen and (max-width: 374px) {
    .App {
        padding-left: 3%;
        padding-right: 3%;
    }
}


.rotate {
    animation: rotation 120s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

