@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Exo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B0B0B;
  color: #29FD2E;
  position: relative;
  width: 100%;
}

input {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

.btn {
  background-color: rgba(3, 3, 4, 0.5) !important;
  color: #0076FF !important;
  font-family: 'Exo' !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-decoration: none;
}

.pl-7 {
  padding-left: 48px !important;
}
.pr-7 {
  padding-right: 48px !important;
}

.btn-outline:hover, [open]>.btn-outline {
  color: #29fd2e !important;
  background-color: rgba(3, 4, 3, 0.705) !important;
}


.rotate {
  animation: rotation 120s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}